*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar css start */

.navbar-brand{
    font-size: 30px;
    color: white !important;
    text-decoration: underline red;
}

body{
    font-family: poppins;
}

.header{
    background-color: black;
}

.menu{
    font-size: 20px;
}

#navbarNav{
    justify-content: center !important;
}

.navbar-toggler-icon, .navbar-toggler{
    background-color: white;
    border-radius: 50px;
}

.nav-link{
    color: white !important;
    font-weight: 200;
}

.nav-link:hover{
    color: rgb(255, 16, 16) !important;
}

/* Navbar css end */



/* Main page css start */
.Hi{
    color: rgb(0, 0, 0);
}

.board{
    max-width: 450px;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
}

.board2{
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
}

.profilepic{
    max-width: 150px !important;
}

.speech{
    font-size: 20px;
}

.textcolor{
    color: red;
}

.area{
    padding-top: 60px;
}

.mybtn{
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: black;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 20px;
    transition: 0.3s;
}

.mybtn:hover{
    color: red;
}

.note{
    color: black;
    text-decoration: underline red;
}

.icons{
    font-size: 35px;
    padding: 0px 0px;
    color: white;
}

.social{
    color: rgb(255, 54, 148);
}

.social2{
    color: rgb(1, 255, 1);
}

.social2:hover{
    color: rgb(65, 110, 65) !important;
}

.social3{
    color: rgb(60, 72, 243);
    font-size: 30px;
}

i{
    padding: 0px 5px;
    transition: 0.3s;
}

i:hover{
    filter: contrast(200%);
}

/* Main page css end */

/* --------------------------------------------------------------------------------- */

/* Qualification Page CSS Start */

.pics{
    text-align: center !important;
}
.edupic{
    margin-top: 20px;
    justify-content: center;
}

/* Qualification Page CSS End */

/* --------------------------------------------------------------------------------- */

/* Experience page CSS */
.color{
    background-color: rgb(253, 180, 70);
}

.pics2{
    text-align: center;
}

.exppic{
    margin-top: 20px;
}
/* Experience page CSS End */


/* About page CSS Start */

.imgsize{
    width: 300px;
}

.text{
    color: black;
}

.background{
    background-color: rgb(173, 111, 240);
}

/* About page CSS End */


/* Contact page CSS Start */

.background2{
    background-color: rgb(253, 158, 95);
    min-height: 500px;
}

.tnku{
    text-align: center;
    font-size: 50px;
    margin-top: 180px;
    text-decoration: underline;
    color: red;
}

/* Contact page CSS end */
